devcontainer/
ide/
images/
users.list.template
.env
.gitignore
build.sh
install.sh
start.sh
start_code.sh
start_intellij.sh
install_code.sh
install_intellij.sh
docker-compose*
Dockerfile
idea*.tar.gz
code*.tar.gz
Cursor-*